body, html {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
}

ul, li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

button {
  cursor: pointer;
}

/* Shared Styles */
.container {
  max-width: 1290px;
  padding: 0px 15px;
  margin: 0 auto;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.text-white {
  color: #FFFFFF;
}

.text-red {
  color: #FF0000;
}

.text-dark {
  color: #070211;
}

.text-center {
  text-align: center;
}

.btn-primary {
  padding: 16px 32px;
  background-color: #FF0000;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 8px;
}

.btn-secondary {
  padding: 16px 32px;
  background-color: #FFFFFF;
  color: #FF0000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 8px;
}

/* Banner Styles */
.banner {
  padding: 60px 60px;
}

.banner-sub-title {
  font-size: 32px;
  line-height: 1.5;
}

.banner-title {
  font-size: 72px;
  line-height: 1.5;
}

.banner-content {
  padding: 177px 344px;
  background-image: linear-gradient(to bottom, rgba(7, 2, 17, 100%) 0%,rgba(7, 2, 17, 0%) 100%), url('../images/banner_image.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
}

/* New Year Offer Section */
.new-year-offer-wrapper {
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
  justify-content: center;
}

.offer-discount {
  font-size: 88px;
  font-weight: 700;
  line-height: 1.5;
}

.offer-sub-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.offer-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
}

.offer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 48px;
}

/* Hero Banner Styles */
.hero-banner {
  padding: 60px 0px;
}
.hero-banner-wrapper {
  background: linear-gradient(to right, rgba(7, 2, 17, 100%) 0%,rgba(7, 2, 17, 0%) 100%), url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  padding: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

.hero-title {
  font-size: 64px;
  line-height: 1.5;
  letter-spacing: 11%;
}

.hero-description {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, .8);
  margin: 24px 0px;
}

/* Party Details */
.party-details {
  padding: 60px 0px;
}

.party-details-items {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 10%) 0%, rgba(255, 0, 0, 0%) 100%);
  padding: 100px 0px;
  border-radius: 16px;
}

.party-details-items-content {
  max-width: 550px;
  margin: 0 auto;
}

.party-details-items-content ul {
  margin-bottom: 50px;
}

.party-details-items-content ul li {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
}

/* New Best Offer Styles */
.new-best-offer {
  padding: 60px 0px;
}

.new-best-offer-columns {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 70px;
}

.new-best-offer-column {
  width: 33.33%;
}

.new-best-offer-column:nth-child(1), .new-best-offer-column:nth-child(2) {
  align-self: center;
}

.new-best-offer-column:nth-child(3) {
  align-self: flex-end;
}

.best-offer-sub-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

.best-offer-title {
  font-size: 48px;
  line-height: 1.5;
  margin: 16px 0px 22px;
}

.best-offer-descripton {
  color: rgba(7, 2, 17, 60%);
  font-size: 20px;
  line-height: 1.5;
}

.best-offer-image {
  padding: 35px;
  border: 15px solid #FF0000;
  border-radius: 50%;
}

.best-offer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.best-offer-year {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
}

.best-offer-small-image {
  margin-top: 43px;
}

/* Holiday Sale Section */
.holiday-sale {
  padding: 60px 0px;
}

.holiday-sale-heading {
  margin: 0px 126px;
}

.holiday-sale-sub-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

.holiday-sale-title {
  font-size: 72px;
  line-height: 1.5;
  margin: 16px 0px 28px;
}

.holiday-sale-description {
  font-size: 20px;
  line-height: 1.5;
  color: rgba(7, 2, 17, 60%);
}

.holiday-sale-images {
  margin-top: 64px;
}

.holiday-sale-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Portfolios Styles */
.portfolios {
  padding: 60px 0px;
}

.portfolio-heading {
  width: 896px;
  margin-right: auto;
}

.portfolio-sub-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

.portfolio-title {
  font-size: 48px;
  line-height: 1.5;
  margin: 16px 0px 22px;
}

.portfolio-description {
  font-size: 20px;
  line-height: 1.5;
  color: rgba(7, 2, 17, 60%);
}

.portfolio-items {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc(33.33% - 16px);
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}